<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='css/styles.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.min.js')}}"></script>  
</head>

<body>
    
    <div class="container">
        <section class="py-4 py-xl-5">
             
            <div class="container" style="margin: -5px;height: 322.8px;width: 1272px;padding-top: 111px;">
                <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-6">
                            
                            <div class="text-white p-4 p-md-5">
                                <h2 class="fw-bold text-white mb-3">Get alert about your stock holding</h2>
                                <p class="mb-4">We provide you alert of your holdings at your convenience. You can track your portfolio and remain alert.</p>
                                <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="/register">Register</a><a class="btn btn-light btn-lg" role="button" href="/login">Sign In</a></div>
                            </div>
                           
                        </div>
                        <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="border-1 w-100 h-100 fit-cover" src="{{ url_for( 'static' , filename='img/banner.png')}}"></div>
                    </div>
                    <h3>         {{msg}}</h3> 
                </div>
            </div>
        </section>
    </div>

</body>

</html>